<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href ="../static/css/styles.css">
    <link rel="stylesheet" href ="static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/script.js" defer></script>
    <script src="static/js/script.js" defer></script>
</head>
<body class="dark-mode">
    <div id="top-nav-bar" class="pagetop-container dark-gray">
        <i class="logo icon"></i>
        <div id="pagetop-right-section" class="pagetop-right-section">
            <a id="signupbtn" class="signupbtn gray">Sign Up</a>
            <a id="loginbtn" class="loginbtn light-gray ">Log in</a>
        </div>

    </div>
    <div id="main-nav-bar" class="navigator-container">
        <button class="topnavbarbutton">Training</button>
        <button class="topnavbarbutton">Nutrition</button>
    </div>
</body>
</html>
