<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Signup.css">
    <link rel="stylesheet" href="static/css/Signup.css">
    <link rel="stylesheet" href ="../static/css/styles.css">
    <link rel="stylesheet" href ="static/css/styles.css">
    <script src="../static/js/Signup.js" defer></script>
    <script src="static/js/Signup.js" defer></script>
</head>
<body>
    <div id="top-nav-bar" class="pagetop-container dark-gray">
            <i id="logo" class="logo icon"></i>
    </div>
    <main class="main-content">
        <section class="content-wrapper">
            <div class="title-wrapper">
                <h1 class="title">Create an account</h1>
            </div>
            <div class="login-container">
                <div class="input-wrapper">
                    <input type="email" autocomplete="username" autocapitalize="none" name="email" inputmode="email" spellcheck="false" class="email-input" id="emial-input" placeholder="">
                    <label for="email-input" class="email-label">Email address*</label>


                    </div>
                    <input id="continue-btn" class="continue-btn" type="submit" name="continue" value="Continue" disabled="">
                </div>
                <p class="other-page">
                    Already have an account?
                    <a id="to-login" class="other-page-link">Login</a>
                </p>
                
            </div>

        </section>
    </main>
</body>
</html>